$blue:#007bff;
$white: #ffffff;
$black:#000;



.jumbotron {

    color: $white;
    background-color: $blue;
    
}

h1{
    font-family:'DM Serif Text', serif;
}

h5{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: bold;
}

p{
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
}

.contenido2{
    margin-top: 30px;
}
.plan1{
    margin-bottom: 10px;
}
.plan{
    width: 200px;
    height: 40px;
}

.tabla{
    margin-top: 10px;
}

.tarj-imag{
    padding: 10px 10px 10px 10px;
}
.breadcrumb-item a{
    color: $blue;
    text-decoration: none;
    
}

.pie{
    background-color: $black;
    color: $white;
    margin-top: 20px;

}

.pie a{
    color: $white;
    text-decoration: none;

}